<div class="detail" *ngIf="center">
    <div class="info">

        {{center.name}}
        {{center.city | uppercase}}
        <div class="bouton">
            <button type="button" class="btn btn-outline-primary" routerLink="/centers/detail/{{center.id}}"> Details </button>
            <button type="button" class="btn btn-outline-success" (click)="centerSelect()"> Choisir </button>
        </div>

    </div>
    
    <div *ngIf="selected">
        <app-patient-form (send)="sendPatient($event)"></app-patient-form>
    </div>
</div>


