<div class="form-text">
    <h4>Recherche par ville</h4> 
  <input
      mdbInput
      type="text"
      id="formTextExample1"
      class="form-control"
      aria-describedby="textExample1"
      placeholder="Nom de ville"
      [(ngModel)]="city"
      (ngModelChange)="ngOnInit()"
  />

  <div *ngIf="centers?.length == 0" style="text-align: center">
    Aucune correspondance
  </div>

  <ul>
      <li *ngFor="let c of centers">
          <app-vaccination-center  [center]="c" (deleted)="onDeleted($event)"></app-vaccination-center>
      </li>
  </ul>

</div>

  