.gestion{
    padding: 30px;
    margin-top: 120px;
    box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.8);
    height: 100%;
    border-radius: 20px;
}

.ms-4{
    flex: auto;
}

.center_info{
    padding-left: 2rem;
    margin-bottom: 20px;
}


.flex-column{
    justify-content: center;
}

.gestion{
    min-height: 450px;
}

.ms-4{
    margin: auto;
}

.nav-pills{
    position: fixed;
    margin-top: 35px;
}

.tab-content{
    display: block;
    padding-left: 100px;
}


i-bs{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: black;
}

.del{
    color: red;
}

.add{
    color: green;
}

.back{
    color: green;
}

i-bs:hover{
    color: grey;
    cursor: pointer;
}