
<div class="d-flex gestion" style="padding: 20px;">
    <div ngbNav #nav="ngbNav" [(activeId)]="activeId"  class="nav-pills flex-column" orientation="vertical" >

        <ng-container *ngIf="isSuper()" ngbNavItem="1">
            <button ngbNavLink>Centres</button>
            <ng-template ngbNavContent style="flex: 1;">
                <div *ngIf="!disp_user_center" class="butt">
                    <app-vaccination-center-list (edituser)="onEditUser($event)" [gestion]=true></app-vaccination-center-list>
                </div>
                <div *ngIf="disp_user_center" class="butt">
                    <i-bs class="back" (click)="back()" name="arrow-left-circle" width="35" height="35" > </i-bs>
                    <app-user-list [current_user]=user [disp_super]="false" [disp_admin]="disp_admin" [disp_mdc]="disp_mdc" ></app-user-list>
                </div>


            </ng-template>
        </ng-container>

        <ng-container *ngIf="isAdmin() && !isSuper()" ngbNavItem="2">
            <button ngbNavLink>Mon centre</button>
            <ng-template ngbNavContent>
                <div class="center_info">
                
                    <app-vaccination-center  [gestion]=false [center]="center" ></app-vaccination-center>

                </div>

                <app-user-list [current_user]=user [disp_super]="false" [disp_admin]="disp_admin" [disp_mdc]="disp_mdc" ></app-user-list>

            </ng-template>
        </ng-container>

        <ng-container *ngIf="isMdc()" ngbNavItem="3">
            <button ngbNavLink>Planning</button>
            <ng-template ngbNavContent>
                <ul style="text-align: center;">
                    <app-patient-list [patients]="patients"></app-patient-list>
                </ul>
            </ng-template>
        </ng-container>

        <ng-container *ngIf="isSuper()" ngbNavItem="4">
            <button ngbNavLink>Config</button>
            <ng-template ngbNavContent style="flex: 1;">

                <app-user-list [current_user]=user [disp_super]="true" [disp_admin]="false" [disp_mdc]="false"></app-user-list>

            </ng-template>
        </ng-container>

    </div>

    <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
    

