li{
    padding-top: 5px;
    padding-bottom: 5px;
}

ul{
    list-style: none;
    padding: initial;
}

.form-text{
    padding-left: 2rem;
}

td, th{
    vertical-align: middle;
    border-radius: 20px;
}

thead{
    border-radius: 20px;
}

.butt{
    display: flex;
    justify-content: center;
    flex: 0.5;
}


mat-icon{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.del{
    color: red;
}

.add{
    color: green;
}

.back{
    color: green;
}

mat-icon:hover{
    color: black;
    cursor: pointer;
}

h2{
    justify-content: center;
    align-items: center;
    display: flex;
}

table {
    width: 100%;
    background-color: rgb(158, 158, 158);
    border-radius: 20px;
}