<h1>Form</h1>
<form #form="ngForm" [formGroup]="patientInfo" (ngSubmit)="onSubmit()" class="form">
  <div class="card mt-3">
    <div class="card-body">
        <div class="form-group">
            <label for="email">FirstName</label>
            <input id="email" type="text" formControlName="firstName" class="form-control">
            <!-- <div *ngIf="form.submitted && controls.email.invalid" class="text-danger">
              <small *ngIf="controls.email.errors?.required">Email is required.</small>
              <small *ngIf="controls.email.errors?.email">Email is invalid.</small>
            </div> -->
        </div>
        <div class="form-group">
            <label for="lastname">LastName</label>
            <input id="lastname" type="text" formControlName="lastName" class="form-control">
            <!-- <div *ngIf="form.submitted && controls.email.invalid" class="text-danger">
              <small *ngIf="controls.email.errors?.required">Email is required.</small>
              <small *ngIf="controls.email.errors?.email">Email is invalid.</small>
            </div> -->
        </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
      </div>
    </div>
  </div>
</form>