<div class="detail" *ngIf="center">
    <div class="info">

        <div class="details">
            <strong>{{center.name}}</strong>
            <br> {{center.address}},
            {{center.city | uppercase}}
        </div>

        <div class="bouton">
            <strong>{{nb_reserv}}</strong> Réservation(s)
        </div>
        

       
        <div *ngIf="gestion" class="butt">
            <i-bs (click)="modifierUserCentre()" name="people-fill" width="25" height="25" > </i-bs>
            <i-bs (click)="modifierCentre()" name="pencil" width="25" height="25" > </i-bs>
            <div *ngIf="!conf">
                <i-bs class="del" (click)="setConf()" name="x-circle" width="25" height="25" > </i-bs>
            </div>
            <div *ngIf="conf">
                <button type="button" class="btn btn-outline-danger" (click)="supCenter()"> confirmer </button>
            </div>
        </div>

        <div *ngIf="!gestion">
            <div *ngIf="!selected" class="bouton">
                <button type="button" class="btn btn-outline-success" (click)="centerSelect()"> Choisir </button>
            </div>
            <div *ngIf="selected" class="bouton">
                <button type="button" class="btn btn-outline-danger" (click)="centerSelect()"> Annuler </button>
            </div>
    
        
        </div>

    </div>
    
    <div *ngIf="selected" >
        <app-patient-form (send)="sendPatient($event)" style="display: block; margin-top: 30px;"></app-patient-form>
    </div>

    <div *ngIf="confirm" style="color: green;">
        {{message}}
    </div>

    <div *ngIf="error" style="color: red;">
        {{message}}
    </div>
</div>


