<div class="detail" *ngIf="center">
    <div class="info">

        <div class="details">
            <strong>{{center.name}}</strong>
            <br> {{center.address}},
            {{center.city | uppercase}}
        </div>

        <div class="bouton">
            <strong>{{nb_reserv}}</strong> Réservation(s)
        </div>
        

       
        <div *ngIf="gestion" class="butt">
            <mat-icon class="back" (click)="modifierUserCentre()" fontIcon="groups"></mat-icon>  
            <mat-icon class="back" (click)="modifierCentre()" fontIcon="edit"></mat-icon>  

            <div style="display: contents;" *ngIf="!conf">
                <mat-icon class="del" (click)="setConf()" fontIcon="cancel"></mat-icon>
            </div>
            <div style="display: contents;" *ngIf="conf">
                <button mat-raised-button color="warn" (click)="supCenter()"> confirmer </button>
            </div>
        </div>

        <div *ngIf="!gestion">
            <div *ngIf="!selected" class="bouton">
                <button mat-raised-button style="color: green;" (click)="centerSelect()"> Choisir </button>
            </div>
            <div *ngIf="selected" class="bouton">
                <button mat-raised-button color="warn" (click)="centerSelect()"> Annuler </button>
            </div>
    
        
        </div>

    </div>
    
    <div *ngIf="selected" >
        <app-patient-form (send)="sendPatient($event)" style="display: block; margin-top: 30px;"></app-patient-form>
    </div>

    <div *ngIf="confirm" style="color: green;">
        {{message}}
    </div>

    <div *ngIf="error" style="color: red;">
        {{message}}
    </div>
</div>


