.detail{
    list-style-type: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2%;
    margin-top: 2%;
    align-items: center;
}

.bouton{
    margin-right: 10px;
    margin-left: auto;
}

.info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

i-bs{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: black;
}

.del{
    color: red;
}

.add{
    color: green;
}

.back{
    color: green;
}

i-bs:hover{
    color: grey;
    cursor: pointer;
}

.butt{
    display: flex;
    justify-content: center;
    margin-left: 15px;
}