<h1 style="text-align: center;">Renseignements</h1>
<form #form="ngForm" [formGroup]="patientInfo" (ngSubmit)="onSubmit()" class="form">
  <div class="card mt-3">
    <div class="card-body">
      <div class="name-group">

        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input id="prenom" type="text" formControlName="prenom" class="form-control">
          <div *ngIf="submitted && patientInfo.controls['prenom'].errors?.['required']" class="text-danger">
            <small>Prénom obligatoire</small>
          </div>
        </div>
        
        <div class="form-group">
          <label for="nom">Nom</label>
          <input id="nom" type="text" formControlName="nom" class="form-control">
          <div *ngIf="submitted && patientInfo.controls['nom'].errors?.['required']" class="text-danger">
            <small>Nom obligatoire</small>
          </div>
        </div>
          
      </div>

      <div class="form-group">
        <label for="mail">mail</label>
        <input id="mail" type="mail" formControlName="mail" class="form-control">
        <div *ngIf="submitted && patientInfo.controls['mail'].errors?.['required']" class="text-danger">
          <small>mail obligatoire</small>
        </div>
      </div>
      
      <div class="form-group">
          <div class="col-12">
            <div class="input-group">              
              
              <ngb-datepicker formControlName="dateRDV" #dp (dateSelect)="onDateSelect($event)" ></ngb-datepicker>
              
              <div class="form-group">
                <p>{{ date_RDV | date: 'fullDate'}}</p>
                <button type="submit" class="btn btn-success" [disabled]="" >Réserver</button>
                <div *ngIf="full" class="text-danger">
                  <small>Veuillez remplir tous les champs !</small>
                </div>
              </div>




              <!-- <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button> -->
              <div *ngIf="submitted && patientInfo.controls['dateRDV'].errors?.['required']" class="text-danger">
                <small>Date de réservation obligatoire</small>
              </div>
            </div>
          </div>
      </div>


      
    </div>
  </div>
</form>