<h1 style="text-align: center;">Renseignements</h1>
<form #form="ngForm" [formGroup]="patientInfo" (ngSubmit)="onSubmit()" class="form">
  <div class="card mt-3">
    <div class="card-body">
      <div class="name-group">

        <div class="form-group">
          <label for="firstName">Prénom</label>
          <input id="firstName" type="text" formControlName="firstName" class="form-control">
          <div *ngIf="submitted && patientInfo.controls['firstName'].errors?.['required']" class="text-danger">
            <small>Prénom obligatoire</small>
          </div>
        </div>
        
        <div class="form-group">
          <label for="lastname">Nom</label>
          <input id="lastname" type="text" formControlName="lastName" class="form-control">
          <div *ngIf="submitted && patientInfo.controls['lastName'].errors?.['required']" class="text-danger">
            <small>Nom obligatoire</small>
          </div>
        </div>
          
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control">
        <div *ngIf="submitted && patientInfo.controls['email'].errors?.['required']" class="text-danger">
          <small>Email obligatoire</small>
        </div>
      </div>
      
      <div class="form-group">
          <div class="col-12">
            <div class="input-group">              
              
              <ngb-datepicker formControlName="dateRDV" #dp (dateSelect)="onDateSelect($event)" ></ngb-datepicker>
              
              <div class="form-group">
                <p>{{ date_RDV | date: 'fullDate'}}</p>
                <button type="submit" class="btn btn-success" [disabled]="" >Réserver</button>
                <div *ngIf="full" class="text-danger">
                  <small>Veuillez remplir tous les champs !</small>
                </div>
              </div>




              <!-- <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button> -->
              <div *ngIf="submitted && patientInfo.controls['dateRDV'].errors?.['required']" class="text-danger">
                <small>Date de réservation obligatoire</small>
              </div>
            </div>
          </div>
      </div>


      
    </div>
  </div>
</form>